/* NavBar CSS */

/* Logo */

.header-Logo {
  padding-left: 50%;
  height: 40px;
}

@media only screen and (max-width: 600px){
    .header-Logo{
        padding-left: 10%;
    }
}

/* Search */

.search-navbar {
  position: relative;
}

.bi-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.form-input {
  border: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
  padding-left: 40px;
}

@media only screen and (max-width: 600px) {
  .search {
    display: none;
  }
}

/* Icons */

.bi-person-fill {
  margin-right: 20px;
}

.cart {
  position: relative;
}

.bi-bag {
  margin-right: 100px;
}

.cart-number {
  width: 15px;
  position: absolute;
  left: 20px;
  font-size: 10px;
  font-weight: 700;
  background-color: rgb(255, 208, 0);
  border-radius: 100%;
  text-align: center;
}

.bi-person-fill:hover,
.bi-bag :hover {
  fill: black;
}

@media screen and (max-width : 600px){
    .container-fluid{
        display: inline;
        flex: auto;
        float: right;
    }

    .navbar-Icon{
        margin-left: 120px;
        display: inline;
        white-space: nowrap;
        float: right;
    }
    .navbar-Icon .nav-item{
        display: inline;
        list-style-type: none;
        float: right;
    }
    .bi-bag{
        margin-right: 15px!important;
    }
    .bi-person-fill{
        margin-right: 5px !important;
    }
}
