/* Global */

* {
    padding:0;
    margin: 0;
}

body {
    font-family: 'roboto', sans-serif;
}

/* Header */

.hero-Page{
    margin-bottom: 50px;
}

/* product Categorie */

.product-Categorie{
    margin-bottom: 100px;
}

.product-Categorie-Title{
    font-family: 'Montserrat', sans-serif;
    color: rgb(59, 59, 59);
    font-weight: 500;
}

.product-Categorie-Title h5{
    font-weight: 400;
}